<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">


	<!-- HandlerMapping -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

	<!-- HandlerAdapter -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
		
	<!-- ViewResolver -->  
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
	    <property name="prefix" value="/WEB-INF/jsp/"/>  
	    <property name="suffix" value=".jsp"/>  
	</bean>
	
	<!-- 告诉Spring 该到哪里去找标记为@Controller 的Controller 控制器 -->
	<context:component-scan base-package="com.bygone.www.controller">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	
	<!-- 使Controller注解生效 -->
	<!-- <mvc:annotation-driven/>  -->
	
	<mvc:annotation-driven>
	<mvc:message-converters register-defaults="true">
		<bean
			class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
			<property name="supportedMediaTypes">
				<list>
					<value>text/html; charset=UTF-8</value>
				</list>
			</property>
		</bean>
	</mvc:message-converters>
</mvc:annotation-driven>
	
	
	
	<!-- 配置文件上传 -->
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="102400000"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>
	
	<!-- 在SpringMVC 的配置文件中定义MyController 的bean 对象 -->
	<!-- <bean name="/hello" class="com.bygone.www.controller.LoginController"></bean> -->
	<!-- <bean name="/main" class="com.bygone.www.controller.mvcController"></bean> -->
	
</beans>